flask
pymongo
bson
fitz
groq
playwright
asyncio
apscheduler
selenium
webdriver-manager
pytz
google-api-python-client
google_auth_oauthlib
PyMuPDF

# create_database.py requirements
langchain
sentence_transformers
langchain_community
chromadb
pypdf